# @managed start header
# header
# @managed end header

# comment
.eslintrc.js

# @managed start body1
# body1
# @managed end body1

.prettierrc.js

# @managed start body2
# body2
# @managed end body2

# @managed start body3
# body3
# @managed end body3

# @managed start footer
# foote
# @managed end footer
